@font-face {
  font-family: 'iconfont';  /* Project id 3439273 */
  src: url('//at.alicdn.com/t/font_3439273_17i5dwc3xbo.woff2?t=1653997365313') format('woff2'),
       url('//at.alicdn.com/t/font_3439273_17i5dwc3xbo.woff?t=1653997365313') format('woff'),
       url('//at.alicdn.com/t/font_3439273_17i5dwc3xbo.ttf?t=1653997365313') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e67f";
}

.icon-duigouxiao:before {
  content: "\e8bd";
}

.icon-duigou:before {
  content: "\e62b";
}

.icon-gouwuche2:before {
  content: "\e600";
}

.icon-dianhua:before {
  content: "\e601";
}

.icon-liwuhuodong:before {
  content: "\e602";
}

.icon-chelun:before {
  content: "\e635";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-geren2:before {
  content: "\e6bc";
}

.icon-name:before {
  content: "\e6b4";
}

.icon-denglu:before {
  content: "\e603";
}

.icon-yuyue:before {
  content: "\e62d";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-dingdanchulizhong:before {
  content: "\e896";
}

.icon-dingdandaifukuan:before {
  content: "\e897";
}

.icon-dingdan:before {
  content: "\e898";
}

.icon-dingdanyichenggong:before {
  content: "\e899";
}

.icon-tuichu:before {
  content: "\e61a";
}

.icon-mimadenglu:before {
  content: "\e65f";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-fenlei:before {
  content: "\e71b";
}

.icon-ertongche:before {
  content: "\e627";
}

.icon-geren:before {
  content: "\e610";
}

.icon-che:before {
  content: "\e619";
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-gerentouxiang:before {
  content: "\eb24";
}

.icon-youjian:before {
  content: "\eb44";
}

.icon-zhanghao:before {
  content: "\e607";
}

.icon-zihangche:before {
  content: "\ec69";
}

.icon-liebiao1:before {
  content: "\ec6b";
}

.icon-tuijian:before {
  content: "\e620";
}

.icon-24gf-cartFull6:before {
  content: "\e884";
}

.icon-chelianggongchengqichepeijian:before {
  content: "\e648";
}

.icon-icon-test:before {
  content: "\e6f6";
}

.icon-dipanzhuangjia:before {
  content: "\e60c";
}

.icon-denglu-weixindenglu:before {
  content: "\e629";
}

.icon-shouye:before {
  content: "\e6b5";
}

.icon-shouye1:before {
  content: "\e639";
}

